! Title: FilterLists Dark Mode
! Description: Dark theme for filterlists.com for uBO & AdGuard
! Codename: Dark FilterLists
! Last modified: @modified
! Version: @version
! Expires: 2 days
! License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
!
!
@include theme
